
.prewrapper {
text-align:center;
}
.prewrapper button {
padding:4px 6px;
margin:5px;
}
.prewrapper.editable button.edit, .prewrapper button.save{
display:none;
}
.prewrapper.editable button.save{
display:inline-block;
}
.wrapper {

border:1px solid #999;
background:#EEE;

display:block;
margin:0 auto;
font-size:14px;
position:relative;max-width:600px;height:400px;padding:5px;
}
.wrapper .topr {
clear:both;
height:100px;margin:0 0 0 0;overflow:hidden;
}
.wrapper .left {
height:100%;margin:0 0 0 -100px;width:100px;float:left;overflow:hidden;
}
.wrapper .content {
height:100%;overflow:auto;

}

.wrapper .topr .rowcol {
padding:0 9px;
width:14px;
position:relative!important;

float:left;
}
.wrapper .topr .rowcol span {
white-space:nowrap;
zoom:auto!important;
position:absolute;
top:0;
width:200px;
left:-193px;
text-align:right;
-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);
-webkit-transform-origin: top right;
-moz-transform-origin: top right;
opacity:1;
}
.wrapper:hover .topr .rowcol span, .wrapper:hover .left .row span {
opacity:0.5;
}
.wrapper .content .rowcol {
position:relative!important;
} 
.wrapper .row {
height:32px;
white-space:nowrap;
padding:0;
float:left;
clear:left;
}
.wrapper .rowcol {
width:32px;
float:left;
height:100%;
padding:0;

}
.wrapper .left .row {
position:relative;
text-align:right;
padding:9px 0;
height:14px;
}

.wrapper .left row span {
opacity:1;}
.wrapper .content .row .rowcol a {
position:relative;
top:25%!important;
left:25%!important;
margin-top:-1px;
margin-left:-1px;
width:50%!important;
height:50%!important;
display:block;
border:2px solid rgba(0,0,0,0.3);
-webkit-border-radius:0px;
text-indent:-5000px;
 -webkit-transition: all 100ms linear;
}
.wrapper .content .row .rowcol a.confirmed {
border:2px solid rgba(0,0,255,0.8);
-webkit-box-shadow: 0px 0px 8px black;
-moz-box-shadow: 0px 0px 8px black;
}
.wrapper .content .row .rowcol a.scale0 {
top:35%;left:35%;
width:30%;height:30%;
background:#246D07;
}
.wrapper .content .row .rowcol a.scale1 {
top:32.5%;left:32.5%;
width:35%;height:35%;
background:#5C7812;
}
.wrapper .content .row .rowcol a.scale2 {
top:30%;left:30%;
width:40%;height:40%;
background:#7B7E18;
}
.wrapper .content .row .rowcol a.scale3 {
top:27.5%;left:27.5%;
width:45%;height:45%;
background:#A98822;
}
.wrapper .content .row .rowcol a.scale4 {
top:25%;left:25%;
width:50%;height:50%;
background:#D3902A;
}
.wrapper .content .row .rowcol a.scale5 {
top:22.5%;left:22.5%;
width:55%;height:55%;
background:#EF8B2C;
}
.wrapper .content .row .rowcol a.scale6 {
top:20%;left:20%;
width:60%;height:60%;
background:#E56420;
}
.wrapper .content .row .rowcol a.scale7 {
top:15%;left:15%;
width:70%;height:70%;
background:#DC3E14;
}
.wrapper .content .row .rowcol a.scale8 {
top:10%;left:10%;
width:80%;height:80%;
background:#D6270C;
}
.wrapper .content .row .rowcol a.scale9 {
top:5%;left:5%;
width:90%;height:90%;
background:#CC0000;
}
.nobreak {
white-space:nowrap;display:inline-block;
}


.wrapper .content .row .rowcol a:hover {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
z-index:500;

}

 
 span.over {
 font-weight:bold;
 font-size:120%;
 opacity:1!important;
 }
